:root {
  --color-fondo: #45337c;
  --color-letra: #f6f6f6;
  --color-resaltar: #e16acb;
  --fondo-boton: #0026ff;
}

body {
  font-family: "Raleway", sans-serif;
  background: no-repeat center/cover;
  background: var(--color-fondo);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(9, 9, 121, 1) 47%,
    rgba(2, 0, 36, 1) 99%
  );
  color: var(--color-letra);
}
/* HEADER */
.oculto {
  display: none;
}
.encabezado {
  background-color: var(--color-fondo);
  background: linear-gradient(
    -90deg,
    rgb(6, 16, 18) 0%,
    rgba(9, 9, 121, 1) 47%,
    rgba(2, 0, 36, 1) 99%
  );

  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  align-items: center;
}
.derecha {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.buscador {
  width: 80%;
}
.buscador > #input-buscar {
  width: 60%;
  font-size: 1rem;
  padding: 0.25rem;
  background-color: transparent;
  border-radius: 0.5rem;
  border-color: var(--color-letra);
  color: var(--color-letra);
  vertical-align: middle;
}
.btn-buscar {
  vertical-align: middle;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--color-letra);
  transition: all 0.3s ease-in-out;
}
.btn-buscar:hover {
  cursor: pointer;
  color: var(--color-resaltar);
}
.btn-login {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 0 1rem;
  color: var(--color-resaltar);
  background-color: transparent;
  border: solid 0.125rem var(--color-resaltar);
  border-radius: 0.25rem;
  transition: all 0.3s ease-in-out;
}
.btn-login:hover {
  cursor: pointer;
  color: var(--color-letra);
}
/* BANNER */
.banner {
  background: no-repeat center/cover url("../img/banner.png");
  width: calc(100% - 2rem);
  height: 50vh;
  color: var(--color-letra);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
}
.banner-textos {
  padding: 0 0 1rem 2rem;
}
.banner-textos__titulo {
  font-size: 3.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: capitalize;
}
.banner-textos__subtitulo {
  font-size: 1.375rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.banner-textos__btn {
  padding: 0.5rem 1rem;
  background-color: var(--fondo-boton);
  font-size: 1rem;
  color: var(--color-letra);
  border: none;
  border-radius: 1rem;
  transition: all 0.2s ease-in;
}
.banner-textos__btn:hover {
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 1px 1px 1px var(--color-letra);
  background-color: var(--color-resaltar);
}
/* PRODUCTOS */
.productos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
  gap: 50px;
}
.contenedor-productos {
  display: flex;
  flex-direction: column;
}
.titulo-productos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.25rem;
}
.titulo-productos h2 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
}
.titulo-productos a {
  text-decoration: none;
  color: var(--fondo-boton);
}
.titulo-productos a > i {
  margin-left: 1rem;
}
.productos__starWars,
.productos__consolas,
.productos__diversos {
  width: calc(100% - 2rem);
  padding: 1rem 0;
  display: flex;
  justify-content: space-evenly;
  margin: 0 1rem;
}
.card {
  display: flex;
  flex-direction: column;
  width: calc(15% - 1rem);
  align-items: center;
  justify-content: flex-end;
  border: 2px solid black;
  height: 280px;
  transition: transform 0.4s ease-in-out;
}
.card:hover {
  transform: translateY(-5px);
}
.card-img {
  width: 90%;
  height: 50%;
  background: no-repeat center/cover;
  margin-bottom: 1rem;
}
.card-titulo {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.875rem;
}
.card-descripcion,
.card-link {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.875rem;
}
.card-link {
  text-decoration: none;
  color: var(--fondo-boton);
}
/* AGREGADO DE IMAGENES PRODUCTOS*/
/* STARWARS */
.productos__starWars-cards:nth-child(1) > .card-img {
  background-image: url(../img/star-wars-figma.png);
}
.productos__starWars-cards:nth-child(2) > .card-img {
  background-image: url(../img/star-wars2-figma.png);
}
.productos__starWars-cards:nth-child(3) > .card-img {
  background-image: url(../img/star-wars3-figma.png);
}
.productos__starWars-cards:nth-child(4) > .card-img {
  background-image: url(../img/star-wars4-figma.png);
}
.productos__starWars-cards:nth-child(5) > .card-img {
  background-image: url(../img/star-wars5-figma.png);
}
.productos__starWars-cards:nth-child(6) > .card-img {
  background-image: url(../img/star-wars6-figma.png);
}
/* CONSOLAS */
.productos__consolas-cards:nth-child(1) > .card-img {
  background-image: url(../img/consola-1.png);
}
.productos__consolas-cards:nth-child(2) > .card-img {
  background-image: url(../img/consola-2.png);
}
.productos__consolas-cards:nth-child(3) > .card-img {
  background-image: url(../img/consola-3.png);
}
.productos__consolas-cards:nth-child(4) > .card-img {
  background-image: url(../img/consola-4.png);
}
.productos__consolas-cards:nth-child(5) > .card-img {
  background-image: url(../img/consola-5.png);
}
.productos__consolas-cards:nth-child(6) > .card-img {
  background-image: url(../img/consola-6.png);
}
/* DIVERSOS */
.productos__diversos-cards:nth-child(1) > .card-img {
  background-image: url(../img/diversos-1.png);
}
.productos__diversos-cards:nth-child(2) > .card-img {
  background-image: url(../img/diversos-2.png);
}
.productos__diversos-cards:nth-child(3) > .card-img {
  background-image: url(../img/diversos-3.png);
}
.productos__diversos-cards:nth-child(4) > .card-img {
  background-image: url(../img/diversos-4.png);
}
.productos__diversos-cards:nth-child(5) > .card-img {
  background-image: url(../img/diversos-5.png);
}
.productos__diversos-cards:nth-child(6) > .card-img {
  background-image: url(../img/diversos-6.png);
}
/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-fondo);
  background: linear-gradient(
    30deg,
    rgb(6, 16, 18) 1%,
    rgba(0, 212, 255) 25%,
    rgba(9, 9, 121, 1) 60%,
    rgb(6, 16, 18) 98%
  );
}
.company {
  padding: 2rem 0;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}
.quienes-somos {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 2rem;
  flex-grow: 1;
}
.quienes-somos__lista {
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-content: space-between;
}
.quienes-somos__lista-item a {
  font-weight: 500;
  text-decoration: none;
  color: var(--color-letra);
}
/* CONTACTO */
.contacto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 2;
}
.contacto h2 {
  font-size: 1rem;
  font-weight: 700;
}
.form {
  font-size: 1rem;
  font-weight: 400;
  width: 80%;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
}
.form__label {
  display: block;
  padding: 0.5rem 0.5rem 0;
  background-color: var(--color-letra);
  color: var(--color-fondo);
}
#form-nombre {
  border: none;
  padding: 0 0.5rem 0.5rem;
}
#form__textarea {
  margin: 1rem 0;
  height: 4rem;
  padding: 1rem;
  resize: none;
  border: none;
}
.form__btn {
  padding: 0.5rem;
  margin: 0.5rem 0;
  width: 8rem;
}
/* Desarrolador */
.desarrollador{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5;
}
.desarrollador span{
  color: var(--color-resaltar);
  font-weight: 700;
}
.social-network i{
  font-size: 1.5rem;
  color:var(--color-letra);
  padding: 0 1rem;
  transition: all .3s ease-in-out;
}
.social-network i:hover{
  transform: translateY(-5px);
  color: var(--color-resaltar);
}
@media screen and (max-width: 768px) {
  .buscador {
    display: none;
  }
  .btn-buscar {
    display: inline;
  }
  .banner-textos__titulo,
  .titulo-productos h2 {
    font-size: 1.375rem;
  }
  .banner-textos__subtitulo,
  .banner-textos__btn,
  .titulo-productos a {
    font-size: 0.875rem;
    font-weight: 600;
  }
  /* productos */
  .oculta-card {
    display: none;
  }
  .productos__starWars,
  .productos__consolas,
  .productos__diversos {
    flex-wrap: wrap;
  }
  .card {
    width: calc(25% - 0.3125rem);
  }
  /* FOOTER */
  .quienes-somos {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
}
@media screen and (max-width: 365px) {
  .productos__starWars,
  .productos__consolas,
  .productos__diversos {
    flex-wrap: wrap;
  }
  .card {
    margin-bottom: 1rem;
    width: calc(50% - 2rem);
  }
  .company {
    flex-direction: column;
    padding: 0 2rem;
  }
  .quienes-somos__lista {
    gap: 0.5rem;
  }
}
