:root {
  --color-fondo: #45337c;
  --color-letra: #f6f6f6;
  --color-resaltar: #e16acb;
  --fondo-boton: #0026ff;
}

body {
  font-family: "Raleway", sans-serif;
}
/* HEADER */
.oculto {
  display: none;
}
.encabezado {
  background-color: var(--color-fondo);
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  align-items: center;
}
.derecha {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.buscador {
  width: 80%;
}
.buscador > #input-buscar {
  width: 60%;
  font-size: 1rem;
  padding: 0.25rem;
  background-color: transparent;
  border-radius: 0.5rem;
  border-color: var(--color-letra);
  color: var(--color-letra);
  vertical-align: middle;
}
.btn-buscar {
  vertical-align: middle;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--color-letra);
  transition: all 0.3s ease-in-out;
}
.btn-buscar:hover {
  cursor: pointer;
  color: var(--color-resaltar);
}
.btn-login {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 0 1rem;
  color: var(--color-resaltar);
  background-color: transparent;
  border: solid 0.125rem var(--color-resaltar);
  border-radius: 0.25rem;
  transition: all 0.3s ease-in-out;
}
.btn-login:hover {
  cursor: pointer;
  color: var(--color-letra);
}
/* BANNER */
.banner {
  background: no-repeat center/cover url("../img/banner.png");
  width: calc(100% - 2rem);
  height: 50vh;
  color: var(--color-letra);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
}
.banner-textos {
  padding: 0 0 1rem 2rem;
}
.banner-textos__titulo {
  font-size: 3.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: capitalize;
}
.banner-textos__subtitulo {
  font-size: 1.375rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.banner-textos__btn {
  padding: 0.5rem 1rem;
  background-color: var(--fondo-boton);
  font-size: 1rem;
  color: var(--color-letra);
  border: none;
  border-radius: 1rem;
  transition: all 0.2s ease-in;
}
.banner-textos__btn:hover {
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 1px 1px 1px var(--color-letra);
  background-color: var(--color-resaltar);
}
/* PRODUCTOS */
.productos {
  width: 100%;
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
  gap: 50px;
}
.contenedor-productos {
  display: flex;
  flex-direction: column;
}
.titulo-productos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.25rem;
}
.titulo-productos h2 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
}
.titulo-productos a {
  text-decoration: none;
  color: var(--fondo-boton);
}
.titulo-productos a > i {
  margin-left: 1rem;
}
.productos__starWars,
.productos__consolas,
.productos__diversos {
  width: calc(100% - 2rem);
  padding: 1rem 0;
  display: flex;
  justify-content: space-evenly;
  margin: 0 1rem;
}
.card {
  display: flex;
  flex-direction: column;
  width: calc(15% - 1rem);
  align-items: center;
  justify-content: flex-end;
  border: 2px solid black;
  height: 280px;
}
.card-img {
  width: 90%;
  height: 50%;
  background: no-repeat center/cover url("../img/star-wars-figma.png");
  margin-bottom: 1rem;
}
.card-titulo {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.875rem;
}
.card-descripcion,
.card-link {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.875rem;
}
.card-link {
  text-decoration: none;
  color: var(--fondo-boton);
}

@media screen and (max-width: 768px) {
  .buscador {
    display: none;
  }
  .btn-buscar {
    display: inline;
  }
  .banner-textos__titulo,
  .titulo-productos h2 {
    font-size: 1.375rem;
  }
  .banner-textos__subtitulo,
  .banner-textos__btn,
  .titulo-productos a {
    font-size: 0.875rem;
    font-weight: 600;
  }
  /* productos */
  .oculta-card {
    display: none;
  }
  .card {
    width: calc(25% - 2rem);
  }
}
@media screen and (max-width: 365px) {
  .productos__starWars,
  .productos__consolas,
  .productos__diversos {
    flex-wrap: wrap;
  }
  .card {
    margin-bottom: 1rem;
    width: calc(50% - 2rem);
  }
}
